<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chat avec Valkyria !</title>
        <style>
            #zone_chat strong {
                color: white;
                background-color: black;
                padding: 2px;
            }
        </style>
    </head>
 
    <body>
        <h1>Chat avec Valkyria !</h1>

        <form action="/" method="post" id="chat">
            <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
            <input type="submit" id="envoi_message" value="Envoyer" />
        </form>

        <section id="view">
            
        </section>


        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://192.168.1.9:8080');

            // On demande le pseudo, on l'envoie au serveur
            socket.emit('nouveau_client', 'RootKit');

            // Quand on reçoit un message, on l'insère dans la page
            socket.on('message', function(data) {
                insereMessage(data.pseudo, data.message)
            })

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#chat').submit(function () {
                var message = $('#message').val();                
                socket.emit('message', message); // Transmet le message aux autres
                insereMessage('RootKit', message); // Affiche le message aussi sur notre page
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire                
            });        

            // Ajoute un message dans la page
            function insereMessage(pseudo, message) {
                $('#view').prepend('<p><strong>' + pseudo + '</strong> ' + message + '</p>');
            }
        </script>
    </body>
</html>